{% extends 'base.html' %}
{% block content %}

    <!-- Section Starts Here -->
    <h1 class="text-center mt-2">Our Developers</h1>
    <div class="container overflow-hidden text-center mt-4">
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3 border bg-light d-flex justify-content-center">
                <div class="card" style="width: 25rem;">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFE44SHxbVLqg/profile-displayphoto-shrink_800_800/0/1664039443440?e=1671667200&v=beta&t=amKb8Z1mVlc4a_xJgwiqA03j-RoAx_JFLegSu6Ny2C0" style="border-radius: 50%;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">RISHAV KUMAR DUBEY</h5>
                      <p class="card-text">Rishav is currently a Final year student at PSIT College of Engineering. He is the <b>TEAM LEADER </b>of our Project and has worked on this Project by handling the FrontEnd Design of our Website using <i>HTML, CSS, JAVASCRIPT and Bootstrap</i> coordinating with <b>SHRISHTI</b>.</p>
                      <a href="https://www.linkedin.com/in/rishav21/" target="_blank" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg></a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light d-flex justify-content-center">
                <div class="card" style="width: 25rem;">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHbcfuoxX-tGA/profile-displayphoto-shrink_800_800/0/1650743236373?e=1671667200&v=beta&t=k1DnIPwjPAZAKNeDK4HqqVDCoAfTaCED-1Ak4bT-pP8" style="border-radius: 50%;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SAKSHAM JOSHI</h5>
                      <p class="card-text">Saksham is currently a Final year student at PSIT College of Engineering. He is the <b>TEAM MEMBER </b>of our Project and has worked on this Project by handling the Backend and Database and models of Django dynamically of our Website using <i>Python, Django and MySQL</i>.</p>
                      <a href="https://www.linkedin.com/in/saksham-joshi-a63388193/" target="_blank" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg></a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light d-flex justify-content-center">
                <div class="card" style="width: 25rem;">
                    <img src="https://media-exp1.licdn.com/dms/image/D4D03AQHeqmCwGW5dxg/profile-displayphoto-shrink_800_800/0/1666034033218?e=1671667200&v=beta&t=ozn9nEDo6QGR6_CWdAdWO7teCw1Eswbi4OsE0jMdJy0" class="card-img-top" style="border-radius: 50%;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SHRISHTI BANDEJIYA</h5>
                      <p class="card-text">Shrishti is currently a Final year student at PSIT College of Engineering.She is the <b>TEAM MEMBER </b>of our Project and has worked on this Project by handling the FrontEnd Design of our Website using <i>HTML, CSS, JAVASCRIPT and Bootstrap</i> coordinating with <b>RISHAV</b>. Also, she has converted the product description to Voice using <i>Python</i>.</p>
                      <a href="https://www.linkedin.com/in/shrishti-bandejiya/" target="_blank" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg></a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light d-flex justify-content-center">
                <div class="card" style="width: 25rem;">
                    <img src="https://media-exp1.licdn.com/dms/image/D4E03AQGMHnE9NeKzow/profile-displayphoto-shrink_400_400/0/1663098499722?e=1671667200&v=beta&t=eQgRDIN2R9p5H4rqgV5TUBZhapxKFhOO7q2cRDzFcr4" class="card-img-top" style="border-radius: 50%;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PRAKHAR</h5>
                      <p class="card-text">Prakhar is currently a Final year student at PSIT College of Engineering. He is the <b>TEAM MEMBER </b>of our Project and has worked on this Project by handling the QR generation for the products dynamically for our Website using <i>Django and Python</i>.</p>
                      <a href="https://www.linkedin.com/in/prakhar-singh-b11048233/" target="_blank" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg></a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Section Ends Here -->
      {% endblock %}